<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lzq.nyy.mapper.AdministratorsMapper">
  <resultMap id="BaseResultMap" type="org.lzq.nyy.domain.Administrators">
    <!--@mbg.generated-->
    <!--@Table administrators-->
    <id column="AdministratorID" jdbcType="INTEGER" property="administratorid" />
    <result column="AdministratorName" jdbcType="VARCHAR" property="administratorname" />
    <result column="AdministratorPassword" jdbcType="VARCHAR" property="administratorpassword" />
    <result column="AdministratorPhoneNumber" jdbcType="VARCHAR" property="administratorphonenumber" />
    <result column="AdministratorEmail" jdbcType="VARCHAR" property="administratoremail" />
    <result column="RoleID" jdbcType="INTEGER" property="roleid" />
    <result column="CreatedAt" jdbcType="TIMESTAMP" property="createdat" />
    <result column="UpdatedAt" jdbcType="TIMESTAMP" property="updatedat" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    AdministratorID, AdministratorName, AdministratorPassword, AdministratorPhoneNumber, 
    AdministratorEmail, RoleID, CreatedAt, UpdatedAt
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from administrators
    where AdministratorID = #{administratorid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from administrators
    where AdministratorID = #{administratorid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="AdministratorID" keyProperty="administratorid" parameterType="org.lzq.nyy.domain.Administrators" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into administrators (AdministratorName, AdministratorPassword, 
      AdministratorPhoneNumber, AdministratorEmail, 
      RoleID, CreatedAt, UpdatedAt
      )
    values (#{administratorname,jdbcType=VARCHAR}, #{administratorpassword,jdbcType=VARCHAR}, 
      #{administratorphonenumber,jdbcType=VARCHAR}, #{administratoremail,jdbcType=VARCHAR}, 
      #{roleid,jdbcType=INTEGER}, #{createdat,jdbcType=TIMESTAMP}, #{updatedat,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="AdministratorID" keyProperty="administratorid" parameterType="org.lzq.nyy.domain.Administrators" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into administrators
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="administratorname != null">
        AdministratorName,
      </if>
      <if test="administratorpassword != null">
        AdministratorPassword,
      </if>
      <if test="administratorphonenumber != null">
        AdministratorPhoneNumber,
      </if>
      <if test="administratoremail != null">
        AdministratorEmail,
      </if>
      <if test="roleid != null">
        RoleID,
      </if>
      <if test="createdat != null">
        CreatedAt,
      </if>
      <if test="updatedat != null">
        UpdatedAt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="administratorname != null">
        #{administratorname,jdbcType=VARCHAR},
      </if>
      <if test="administratorpassword != null">
        #{administratorpassword,jdbcType=VARCHAR},
      </if>
      <if test="administratorphonenumber != null">
        #{administratorphonenumber,jdbcType=VARCHAR},
      </if>
      <if test="administratoremail != null">
        #{administratoremail,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="createdat != null">
        #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedat != null">
        #{updatedat,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lzq.nyy.domain.Administrators">
    <!--@mbg.generated-->
    update administrators
    <set>
      <if test="administratorname != null">
        AdministratorName = #{administratorname,jdbcType=VARCHAR},
      </if>
      <if test="administratorpassword != null">
        AdministratorPassword = #{administratorpassword,jdbcType=VARCHAR},
      </if>
      <if test="administratorphonenumber != null">
        AdministratorPhoneNumber = #{administratorphonenumber,jdbcType=VARCHAR},
      </if>
      <if test="administratoremail != null">
        AdministratorEmail = #{administratoremail,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null">
        RoleID = #{roleid,jdbcType=INTEGER},
      </if>
      <if test="createdat != null">
        CreatedAt = #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedat != null">
        UpdatedAt = #{updatedat,jdbcType=TIMESTAMP},
      </if>
    </set>
    where AdministratorID = #{administratorid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lzq.nyy.domain.Administrators">
    <!--@mbg.generated-->
    update administrators
    set AdministratorName = #{administratorname,jdbcType=VARCHAR},
      AdministratorPassword = #{administratorpassword,jdbcType=VARCHAR},
      AdministratorPhoneNumber = #{administratorphonenumber,jdbcType=VARCHAR},
      AdministratorEmail = #{administratoremail,jdbcType=VARCHAR},
      RoleID = #{roleid,jdbcType=INTEGER},
      CreatedAt = #{createdat,jdbcType=TIMESTAMP},
      UpdatedAt = #{updatedat,jdbcType=TIMESTAMP}
    where AdministratorID = #{administratorid,jdbcType=INTEGER}
  </update>
</mapper>